*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat",sans-serif;
}
.contact-section{
  background-image: url(../imagenes/DSC_2200.jpg);
  background-position: top center;
  background-size: cover;
  padding: 80px 0;
  text-align: center;
  height: 100vh;
  
}

.inner-width{
  max-width: 600px;
margin: 90px auto ;
  padding: 0 20px;
}

.contact-section h1{
  font-size: 20px;
  color: white;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 400;
  background-color: $azulapollo;
  border-radius: 15px;
  padding: 15px;
}

.name,.email,.message{
  background: white;
  border:none;
  outline: none;
  border-bottom: 1px solid;
  color: $azulapollo;
  padding: 10px 6px;
  font-size: 14px;
  margin-bottom: 40px;
  border-radius: 15px;
}

.name{
  float: left;
  width: 270px;
}

.email{
  float: right;
  width: 270px;
}

.message{
  min-width: 100%;
  max-width: 100%;
}


.contact-section button{
  background: white;
  color: $azulapollo;
  border: 1px solid $azulapollo;
  padding: 12px 40px;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.4s linear;
  cursor: pointer;
}

.contact-section button:hover{
  background:$azulapollo;
  color: #fff;
}


@media screen and (max-width:600px){
  .name,.email{
    width: 100%;
  }
}
